diambra==0.0.19
diambra_arena==2.2.7
diambra_engine==2.2.4
gymnasium==1.0.0
numpy==2.2.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
PyYAML==6.0.2
stable_baselines3==2.4.0
wandb==0.19.0
torch=2.5.0+cu118
